<div class="splash" style="background: transparent url(../images/splash-services.png) no-repeat top left">
	<div class="splash-text">
		<h1>Professional Services</h1>
	</div>
</div>


<h2>Assistance and consulting</h2>
<p>Netheos performs studies for clients seeking to implement its products under the best possible conditions. Leveraging our experience with our own products, Netheos simplifies client efforts by offering global solutions, working directly with them to elaborate detailed specifications, typically used internally within their companies and with third-party partners working on a given project (integrators, third-party developers, etc.).

<h2>Integration and training</h2>
<p>Netheos services are available for the companies that integrate our products in complex environments. We can either handle the entire integration or simply audit and validate the client environment.
Netheos also offers a series of training classes to teach partners and clients how to use the products under optimal conditions.

<h2>Level 3 support and maintenance</h2>
<p>Netheos provides support for its clients as the developer, with corrective maintenance and product upgrades. We offer options for different response levels to match our clients’ needs and mission-critical situations.

<h2>White label development</h2>
<p>Over the past 10 years, Netheos has acquired extensive experience in the fields of cryptography and mission-critical software development, in particular when tight integration with security hardware is required (smartcard, NFC, FPGA, etc.).</p>
<p>The Netheos platform can be sold in OEM or white label arrangements. In this context, we offer our partners high quality development services designed to:</p>
<ul>
	<li>Adapt Netheos solutions to existing client software (Trusted Browser, Trusted Viewer, etc.).</li>
	<li>Provide full development of business-specific client software (m-payment, m-banking, m-commerce, etc.).</li>
</ul>
<p>This offering enables Netheos to take into account the complete specifications of its development and manufacturing partners.</p>