<%= image_tag("ekeynox_libraries.png", :alt => "eKeynox librairies", :class => "diagram-r") %>

<br/>

<p>To get started quickly, all you have to do is import eKeynox libraries into your development project. After that, it takes just a few lines of code to:</p>

<ul>
	<li>Generate a new RSA bi-key for authentication, signatures and encryption.</li>
	<li>Check the user's identity before certifying him/her.</li>
	<li>Sign transactions and contracts in a legal context.</li>
	<li>Establish a mutually authenticated SSL connection.</li>
	<li>Encrypt local data.</li>
	<li>And more!</li>
</ul>

<p>You will find sample code for each of these applications, along with full documentation, on <%= link_to 'github eKeynox', "https://github.com/netheos", :target => "_blank" %>.</p>
