
<%= image_tag("ekeynox_libraries.png", :alt => "eKeynox libraries", :class => "diagram-r") %>

<br/>

<p>To start quickly, you only have to import ekeynox libraries in your development project. At this point, you can in few code lines:</p>

<ul>
	<li>Generate new RSA bi-keys for authentication, signature or encryption;</li>
	<li>Verify end-user identity before asking its digital certificate;</li>
	<li>Sign transactions and contracts in a legal environment;</li>
	<li>Make distant access with SSL mutual authentication;</li>
	<li>Encrypt local data;</li>
	<li>And more.</li>
</ul>

<p>For all these needs, you'll find code exemples and documentation on <%= link_to 'eKeynox github', "https://github.com/netheos", :target => "_blank" %>.</p>

