
<%= image_tag("ekeynox_libraries.png", :alt => "Librairies eKeynox", :class => "diagram-r") %>

<br/>

<p>Pour démarrer rapidement, vous avez seulement à importer les librairies eKeynox dans votre projet de développement. A partir de là, vous pouvez en quelques lignes de code :</p>

<ul>
	<li>Générer une nouvelle bi-clé RSA pour l'authentification, la signature et le chiffrement ;</li>
	<li>Vérifier l'identité de l'utilisateur avant de la certifier ;</li>
	<li>Signer les transactions et les contrats dans un contexte légal ;</li>
	<li>Etablir une connexion SSL mutuellement authentifiée ;</li>
	<li>Chiffrer des données locales ;</li>
	<li>Et plus.</li>
</ul>

<p>Pour tous ces besoins, vous trouverez des exemples de code et de la documentation sur le <%= link_to 'github eKeynox', "https://github.com/netheos", :target => "_blank" %>.</p>

