<div style="background: transparent">
	<%= image_tag("mbanking.png", :alt => "", :class => "picto-l", :style => "width: 300px; margin: 10px 10px 0 15px;") %>
	<%= image_tag("mpayment.png", :alt => "", :class => "picto-l", :style => "width: 300px; margin-right: 10px;") %>
	<%= image_tag("mcontract.png", :alt => "", :class => "picto-l", :style => "width: 300px; margin-right: 0px;") %>
</div>