/** Deprecaded ***/

/** Steps ***/

#homesplash>div {
    height:450px;
}

.step {
    float: left;

	height: 404px;
	width: 310px;
	margin-top: 45px;
	
	background: transparent;	
}

.step-middle {
    float: left;

	height: 404px;
	width: 310px;
	margin: 45px 10px 0px 10px;
	
	background: transparent;	
}
