/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** End Reset ****************************************/

html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}

body {	
	color: #666666;
	text-align: center;
	background-color: #ffffff;
	/* background-color: #eeeeee; */
	/* background-color: #f8f8f8; */
	/* background-image: url(); */
}

body, p, h1, h2, h3, h4, h5 {
	font-family: sans-serif;
}


/** Titles **/

h1 {
	margin: 30px 0 20px 0;

	color: #333333;
	font-size: 35px;
	font-weight: 200;
	text-align: left;
	line-height: 1.1em;
	letter-spacing: -1px;
	font-style: normal;
}

.h1-baseline {
	margin-left: 15px;

	color: #4584d0;
	font-size: 16px;
	font-weight: 200;
}

h2 {
	padding: 0 0 3px 0;
	margin: 0 0 10px 0;
	
	color: #ff8f00;
	font-size: 16px;
	text-align: left;
	font-weight: 200;
	line-height: 1.1em;
	font-style: normal;
	letter-spacing: 1px;
	border-bottom: solid 1px #ff8f00 ;
}


h3 {
	margin: 30px 0 10px 0;

	color: #ff8f00;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.1em;
	font-style: normal;
}

h4 {
	margin: 30px 0 30px 0;
	
	color: #333333;
	font-size: 46px;
	font-weight: 500;
	text-align: center;
	line-height: 1.1em;
	font-style: normal;
	letter-spacing: -1px;
}	


/** Common Syntax **/

p {
	margin-bottom: 10px;
	text-align: justify;

	color: #888888;
	font-size: 16px;	
	font-weight: 300;
	line-height: 1.5em;
}

ul {
	margin-left: 10px;
	
	text-align: justify;
	list-style-position: inside;
}

ul > li {
	margin-bottom: 10px;

	color: #888888;
	list-style-type: square;
}


/** Common Links **/

a, a:visited {
	color: #ff8f00;	
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.email_link {
	text-decoration: underline;
}


/** Common Img **/

/**.float-right {
	float: right;

	margin: 0 0 0 30px;
}**/

.diagram-r {
	float: right;

	width: 350px;
	margin: 30px 0 30px 100px;	
}

.diagram-l {
	float: left;

	width: 350px;
	margin: 30px 100px 30px 0;	
}

.picto-r {
	float: right;

	margin: 10px 0px 10px 80px;	
}

.picto-l {
	float: left;
	
	margin: 10px 80px 10px 0px;	
}


/** Header **/

header {
	position: relative;
	left: 50%;

	width: 950px;
	margin-left: -475px;	
	padding-top: 50px;
	
	margin-bottom: 20px;
	text-align: left;
}

#search_box { /* Not used */
	position: relative;
    top: 0px; right: -700px;

    width: 205px;
    height: 42px;

	background: transparent url(../images/search_field.png) no-repeat;
}

#search_box > form > input { /* Not used */
	margin: 12px 0px 0px 37px;

	color: gray;
	border: none;
	background: transparent;
}

header > nav {
	height: 60px;
/*	background: url(../images/nav.png) no-repeat top right;*/
}

header > nav > ul {
	float: right;
	margin-top: 40px;
}

header > nav > ul > li {
	display: inline-block;
	margin-left: 20px;

	list-style-type: none;
}

header > nav a, header > nav a:visited {
	padding: 5px 2px 5px 2px;

	color: #aaaaaa;
	font-size: 18px;
	letter-spacing: 2px;
	text-decoration: none;
	font-family: Candara, sans-serif;
}

header > nav a:hover {
	color: #ff8f00;
	text-decoration: none;
}


/** Footer **/

footer {
	position: relative;

    width: 100%;
	height: 170px; /* + padding-top = 200 */
	padding-top: 30px;
	margin-top: -200px;
	
	font-family: Candara, sans-serif;
	color: #cccccc;
	
	background: url(../images/bg_footer.png) repeat top;
	clear:both;
}

footer > .footer-content {
	position: relative;
	left: 50%;
	top:10px;

	width: 950px;
	margin-left: -475px;	
	
	text-align: left;
}

.footer-content a, .footer-content a:visited {
	text-decoration: none;
	color: #cccccc;
}

.footer-content a:hover {
	text-decoration: underline;
}

.footer-content > ul {
	float:left;
	
	margin-right: 50px;
}

.footer-content ul:last-of-type {
    margin-right:0%;
}

.footer-content > ul > li {
	list-style-type: none;
	color: #cccccc;
}


/** Page **/

#page {
	position: relative;
	left: 50%;

	width: 950px;
	height: 100%;
	min-height: 100%;
	margin-left: -475px;
	padding-bottom: 240px; /* must be same height as the footer + 40px */
	
	text-align: justify;
	color: #888888;
	font-size: 16px;	
	font-weight: 300;
	line-height: 1.5em;
}

.solutions {
    margin-top:20px;
}

.solutions div {
    float : left;
    width : 28%;
    margin-right:5%;
    height : 200px;
    padding: 1%;
}

.solutions div:last-of-type {
    margin-right:0%;
}


/** Column **/

#column {
	float: right;
	
    width: 240px;
	margin-left: 50px;
	padding: 3px 0 0 0;

	font-size: 12px;
	text-align: left;
}

#column > h2 {
	margin-top: 0;
	
	font-weight: 200;
	border-bottom: solid 1px #cccccc ;
}

#column > p {
	font-size: 14px;	
	line-height: 1.4em;
}


/** Splashs **/

#splash-home > div { /** Home **/
    height:450px;
}

#splash-home h1 {
	position: relative;
	left: 480px;
	top: 100px;
}

#splash-home p {
	position: relative;
	left: 480px;
	top: 120px;
		
	color: #ff8f00;
	font-size: 20px;
	letter-spacing: 1px;	
	text-align: left;
}

#splash {
	width: 975px;
	height: 320px;
	margin: 5px 0 50px 0;
	
	font-family: sans-serif;
}

#splash h1 {
	position: relative;
	left: 90px;
	top: 90px;
	
	width: 450px;
	text-align: left;
	
	color: #666666;
	font-size: 35px;
	letter-spacing: 2px;
	text-decoration: none;
}

#splash p {
	position: relative;
	left: 90px;
	top: 90px;
		
	color: #ff8f00;
	font-size: 20px;
	letter-spacing: 1px;	
	text-align: left;	
}

#splash ul {
	position: relative;
	float: left;
	top: 80px;
	
	width: 240px;
	text-align: right;
}

#splash ul li {
	list-style-type: none;
}

#splash ul li > a, .splash ul li > a:visited {
	color: #ffffff;
	font-size: 16px;
	font-weight: 200;
	text-decoration: none;
	font-family: sans-serif;
}

#splash ul li > a:hover {
	color: #ff8f00;
}


/** eKeynox steps ***/

.step {
    float: left;

	width: 310px;
	height: 404px;
	margin: 45px 0 30px 0;

	background: transparent;
}

.step-middle {
    float: left;

	width: 310px;
	height: 404px;
	margin: 45px 10px 30px 10px;
	
	color: #cccccc;
	font-size: 12px;
	background: transparent;	
}


/** List **/

table {
	width: 950px;
	margin: 30px 0 0 0;

	text-align: left;
}

table > thead td {
	padding: 0 30px 0 30px;	

	text-align: left;
}

table > tbody td {
	width: 50%;
	height: 100px;
	margin: 30px 0 5px 0px;	
	padding: 0 30px 0 30px;	
	
	text-align: left;
}

table > tbody .number {
	float: left;

	margin: 30px 20px 50px 0;
	
	color: #cccccc;
	font-size: 60px;
	font-weight: 500;
	font-style: normal;
}

table > tbody .picto {
	float: left;
	top: 0px;

	margin: 10px 20px 20px 0;
}

table > tbody h3 {
	margin: 10px 0 5px 0;
}

table > tbody p {	
	color: #888888;
	font-size: 14px;
	text-align: justify;
}

/** Stuffs **/

.hop {
	height: 30px;
}

.clear {
	clear: both; 
}

.round { /** Round Corner **/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10 px;
	border-radius: 10px;
}

.clearfix:after { /* sticky footer */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
	
.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.twtr-widget h4 {
	text-align: left !important;
}

div.carouselPagination span.carouselPage {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    overflow: hidden;
    border: 2px solid #FF9100;
    cursor: pointer;  
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;  
}

div.carouselPagination span.carouselPage:hover:not(.active) {
    background: #FFD192;
}
div.carouselPagination span.carouselPage.active {
    background: #FF9100;
}

.highlight {
    color: #FF9100 !important;
}

.curved {
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    border-top: 1px solid #DDDDDD;
    background-image: -webkit-linear-gradient(top, #F9F9F9 50%, #F0F0F0 100%);
}

