/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** End Reset ****************************************/

body {
	text-align: center;
	background-color: #f8f8f8;
	/* background-image: url(); */
	color: #333333;
}

body, h1, h2, h3, h4, h5 {
	font-family: "Lucida Grande", Verdana, sans-serif;
}

p {
	font-family: Times, Georgia, serif;
}

#page {
	position: absolute;
	left: 50%;
	margin-left: -475px;

	width: 950px;

	background-color: transparent;
}

/** Title **/

h1 {
	/* Splashs section */
}

h2 {
	margin: 0 0 30px 0;
	
	color: #333333;
	font-size: 24px;
	text-align: left;
	font-weight: 500;
	line-height: 1.1em;
	font-style: normal;
	letter-spacing: -1px;
	border-bottom: solid 1px #ff8f00 ;
}

h3 {
	margin: 0 0 30px 0;
	
	color: #666666;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1em;
	font-style: normal;

}

h4 {
	margin: 0 0 0 0;
	
	color: #333333;
	font-size: 46px;
	font-weight: 500;
	line-height: 1.1em;
	letter-spacing: -1px;
	font-style: normal;
	font-family: Times, Georgia, serif;
}

/** Header **/

header {
	text-align: left;
}

#search_box { /* Not used */
	position: relative;
    top: 0px; right: -700px;

    width: 205px;
    height: 42px;

	background: transparent url(../images/search_field.png) no-repeat;
}

#search_box form input { /* Not used */
	margin: 12px 0px 0px 37px;
	
	background: transparent;
	border: none;
	color: gray;
}

header nav {
	height: 60px;
	margin: 15px 0 10px 0;
	/**margin-bottom: 20px;**/
	
	background: url(../images/nav.png) no-repeat top right;
}

header nav ul {
	float: right;
	top: 0;
}

header nav ul li {
	display: inline-block;
	margin-top: 18px;

	list-style-type: none;
	color: #eeeeee;
}

header nav ul li > a, hearder nav ul li > a:visited {
	padding: 16px 0px 15px 0px;
	margin-right: 25px;
	
	font-family: Candara, verdana, sans-serif;
	text-decoration: none;
	font-size: 20px;
	color: #eeeeee;
}

header nav ul li > a:hover {
	color: #ff8f00;
}

/** Footer **/

footer {
	margin: 30px 0 10px 0;
}

footer a, footer a:visited {
	text-decoration: none;
  	font-family: "Lucida Grande", Verdana, sans-serif;
	color: #bbbbbb;
}

footer a:hover {
	text-decoration: underline;
}

/** Splashs **/

.splash { /** other splashs **/
	height: 320px;
	width: 975px;
	margin: 0 0 30px 0;
}

.splash h1 {
	position: relative;
	text-align: left;
	left: 60px;
	top: 30%;
	
	color: #333333;
	font-size: 46px;
	font-weight: 500;
	line-height: 1.1em;
	letter-spacing: -1px;
	font-style: normal;
	font-family: Times, Georgia, serif;
/*	font-family: Candara, verdana, sans-serif;*/
}

.splash h1-reverse {
	position: relative;
	text-align: right;
	right: 120px;
	top: 120px;
	
	color: #333333;
	font-size: 46px;
	font-weight: 500;
	line-height: 1.1em;
	letter-spacing: -1px;
	font-style: normal;
	font-family: Times, Georgia, serif;
/*	font-family: Candara, verdana, sans-serif;*/
}

.splash ul {
	position: relative;
	text-align: left;
	top: 180px;
}

.splash ul li {
	display: inline-block;
	margin: 0 45px 0 0;

	list-style-type: none;
	color: #eeeeee;
}

.splash ul li > a, .splash ul li > a:visited {
	padding: 15px 10px 15px 10px;
	
	font-family: Candara, verdana, sans-serif;
	text-decoration: none;
	font-size: 20px;
	color: #eeeeee;
}

.splash ul li > a:hover {
	color: #ffffff;
}

#splash-home {
	background: transparent url(../images/splash-home.png) no-repeat top left;
}

#splash-about {
	background: transparent url(../images/splash-about.png) no-repeat top left;
}

#splash-solutions {
	background: transparent url(../images/splash-solutions.png) no-repeat top left;
}

#splash-ekeynox {
	background: transparent url(../images/splash-ekeynox.png) no-repeat top left;
}

#splash-mobile_toolkit {
	background: transparent url(../images/splash-mobile_toolkit.png) no-repeat top left;
}

/** Text ***/

#overview {
    width: 650px;
	text-align: justify;

	font-size:16px;
} 

#column {
	float: right;
	
    width: 240px;
	padding: 3px 0 0 10px;
	margin-left: 49px;
	text-align: left;
	
	font-size:12px;
	border-left: solid 1px #ff8f00;
}

/** Home boxs ***/

.box {
    float: left;

	height: 160px;
	width: 230px;
	margin: 0 10px 0 0;
	
	background: transparent;	
}

.box-last {
    float: left;

	height: 160px;
	width: 230px;
	margin: 0;
	
	background: transparent;	
}

/** eKeynox steps ***/

.step {
    float: left;

	height: 404px;
	width: 310px;
	margin: 45px 0 30px 0;
	
	background: transparent;	
}

.step-middle {
    float: left;

	height: 404px;
	width: 310px;
	margin: 45px 10px 30px 10px;
	
	background: transparent;	
}

/** List **/

.list {
	float: left;
	text-align: left;
	
	width: 44%;
	margin: 30px 3% 0 3%;

	line-height: 1.1em;
}

.list .item {
	margin: 40px 0 5px 0px;	
}

.list .number {
	float: left;
	
	margin-top: 30px;
	margin-right: 0px;
	
	color: #cccccc;
	font-size: 60px;
	font-weight: 500;
	font-style: normal;
	font-family: Verdana, serif;
}

.list .picto {
	float: right;
	position: relative;
	top: -5px;
}

.list .picto_frame {
	/*border: 1px solid red;*/
	float: left;

	margin-right: 40px;
	
	width: 100px;
    height: 100px;
}

.list h2 {
	margin: 0 0 30px 0;
	
	color: #333333;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1em;
	font-style: normal;
	letter-spacing: -1px;
	border-bottom: solid 1px #ff8f00 ;
  	font-family: "Lucida Grande", Verdana, sans-serif;
}

.list h3 {
	margin: 10px 0 5px 60px;
	
	color: #ff8f00;
	font-size: 16px;
  	font-family: "Lucida Grande", Verdana, sans-serif;
}

.list p {
	margin: 0 0 0 60px;
		
	color: #333333;
	font-size: 12px;
	text-align: justify;
  	font-family: "Lucida Grande", Verdana, sans-serif;
}

/** Stuffs **/

.clear {
	clear: both; 
}

.round { /** Round Corner **/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10 px;
	border-radius: 10px;
}

