<div class="splash" style="background: transparent url(../images/splash-about.png) no-repeat top left;">
	<h1>Cryptography</br>for Trust and Privacy</h1>
</div>

<div id="column">
	<h2>Contact Us</h2>
	<p>
		<%= link_to "contact@netheos.net", "#", :class => "email_link" %><br/>
		Call us: +33 4 00 00 00 00<br/>
		8AM - 6PM CST<br/>
		<br/>
		Parc Club du Millénaire - Bât 18<br/>
		1025, avenue Henri Becquerel<br/>
		34000 Montpellier - France<br/>
	</p>
	<% picto = image_tag("twitter_bird.png", :alt => "Twitter", :style => "margin-top: 10px") %>
	<%= link_to picto, "https://twitter.com/#!/NetheosFr" %>
</div>
<div id="overview">
	<p>Netheos développe des logiciels permettant aux entreprises d’assurer la confiance dans les services qu’elles proposent via Internet ainsi que la confidentialité des données personnelles qui y sont attachées. Créée en 2004 à Montpellier, elle développe une activité durable dans le respect de ses clients et encourage l'innovation au sein d'équipes où chacun à l'opportunité de réaliser son potentiel.</p>
	<p>Ses logiciels de sécurité sont conçus de façon à faire vivre à l’utilisateur une expérience valorisante, simple et rapide. Ils sont plus particulièrement utilisés par les commerçants, les banques et les assurances souhaitant proposer de nouveaux services via Internet en se protégeant des fraudes associées (e|m-commerce, e|m-banking), mais aussi par toute entreprise désireuse d’aller plus loin dans la dématérialisation de ses processus et la protection de ses services en ligne.</p>
	<p>Les logiciels de Netheos reposent sur un fort savoir faire en cryptographie et s’inscrivent dans un contexte où l’authentification seule ne suffit plus à assurer la pérennité de nouveaux marchés en forte croissance. En y associant la signature électronique, le chiffrement des données et le durcissement des logiciels, Netheos propose une famille complète de logiciels permettant de mettre en œuvre des applications de confiance sur PC et Mac, smartphone et tablette.</p>
	<p>Netheos mène plusieurs programmes de recherche en cryptographie en partenariat avec des laboratoires publics reconnus du domaine tels que le LIP6 ou le LIRMM. Ces travaux font l’objet de thèses Cifre et de publications accessibles de tous.</p>
</div>

<div class="clear"></div>