<div class="splash" style="background: transparent url(../images/splash-about.png) no-repeat top left;">
	<div class="splash-text">
		<h1>Cryptography making <br/>new things possible today</h1>
	</div>
</div>

<div id="column">
	<h2>Contact Us</h2>
	<p>
		<%= link_to "contact@netheos.net", "#", :class => "email_link" %><br/>
		Call us: +33 9 63 50 03 30<br/>
		8AM - 6PM CST<br/>
		<br/>
		1025, avenue Henri Becquerel<br/>
		Parc Club du Millénaire - Bât 18<br/>
		34000 Montpellier - France<br/>
	</p>
	<% picto = image_tag("twitter_bird.png", :alt => "Twitter", :style => "margin-top: 10px") %>
	<%= link_to picto, "https://twitter.com/#!/Netheos", :target => "_blank" %>
	<br/><br/><br/><br/>
</div>

<p>Netheos designs and develops software so that companies can give clients confidence in the services they offer over the Internet, including privacy for related personal information. Founded in 2004, the company has created a long-term business model with its clients, while encouraging team-driven innovation where every Netheos employee has an opportunity to grow.</p>

<p>Netheos security software enables end-users to enjoy a fast, rewarding, and simple experience. Our software solutions are frequently used by merchants, banks and insurance companies that want to be able to offer new Internet-based services and protect themselves from potential fraud (e|m-commerce, e|m-banking). These solutions are also a significant benefit to all companies seeking to take their electronic processes to a higher level and protect their on-line services.</p>

<p>Netheos software is based on extensive know-how in security and cryptography, focusing on a business context in which basic authentication is no longer sufficient to handle fast-growing new markets over the long-term. By effectively associating digital signatures, data encryption, and software hardening, Netheos offers a full range of software products that enable you to deploy trusted applications on PC and Mac computers, smartphones and tablets.</p>

<p>Netheos is leading several cryptography research programs in partnership with leading public-sector laboratories in the field, such as Joseph Fourier Institute, LIP6 and LIRMM. This work is the subject of several Cifre doctoral theses and freely available publications.</p>

<div class="clear"></div>