<div class="splash" id="splash-home">
	<h1>Trust and Privacy</br>over the Internet</h1>
</div>

<% box = image_tag("box1.png", :alt => "eKeynox", :class => "box") %>
<%= link_to box, root_path %>

<% box = image_tag("box1.png", :alt => "On-line fraud protection", :class => "box") %>
<%= link_to box, root_path %>

<% box = image_tag("box1.png", :alt => "Mobile SDK", :class => "box") %>
<%= link_to box, root_path %>

<% box = image_tag("box1.png", :alt => "???", :class => "box-last") %>
<%= link_to box, root_path %>

<div class="clear"></div>


<h2>eKeynox is an easy way to provide security</br>and digital certificates to your devices' applications</h2>

