<div id="splash-home">
	<p id="splash-title">Provide trusted applications</br>on personal devices</p>
	<p id="splash-home-footer">eKeynox toolkit for mobiles and tablets soon available</p>
</div>

<h2>eKeynox is an easy way to provide security</br>and digital certificates to your devices' applications</h2>

<h3>With eKeynox USB Toolkit ensure...</h3>

<% step1 = image_tag("step1.png", :alt => "USB Devices", :class => "step") %>
<%= link_to step1, usb_devices_path %>

<% step2 = image_tag("step2.png", :alt => "USB Toolkit", :class => "step-middle") %>
<%= link_to step2, usb_toolkit_path %>

<% step3 = image_tag("step3.png", :alt => "USB Management System", :class => "step") %>
<%= link_to step3, management_system_path %>

<div class="clear"></div>

<h2>All digital certificates benefits without disadvantages</h2>

<div class="beneficts">
	<h2>1</h2>
	<h3>It's the title number 1</h3>
	<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	<h2>2</h2>
	<h3>It's the title number 2</h3>
	<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	<h2>3</h2>
	<h3>It's the title number 3</h3>
	<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
</div>
<div class="beneficts">
	<h2>4</h2>
	<h3>It's the title number 4</h3>
	<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	<h2>5</h2>
	<h3>It's the title number 5</h3>
	<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
	<h2>6</h2>
	<h3>It's the title number 6</h3>
	<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
</div>	

<div class="clear"></div>
