<div class="splash-home">
	<p class="splash-title">Provide trusted applications</br>on personal devices</p>
	<p class="splash-footer">eKeynox toolkit for mobiles and tablets soon available</p>
</div>

<h1>It's my Home !</h1>
<p>Find me in app/views/page/home.html.erb</p>
