<div id="splash" style="background: transparent url(../images/splash-about.png) no-repeat top left;">
	<h1>Netheos</h1>
	<p>Cryptography making <br/><span style='color:#666666;'>New things possible today</span></p>
</div>

<div id="column">

	<% picto = image_tag("twitter_bird.png", :alt => "Twitter Netheos") %>
	<%= link_to picto, "https://twitter.com/#!/Netheos", :target => "_blank" %>
		
	<br/><br/><br/>
	<h2>Netheos</h2>
	<p><%= link_to "sales@netheos.net", "mailto:sales@netheos.net" %></p>
	<p><%=t :call %>: +33 9 72 34 11 80</p>

	<br/>
	<h2>Netheos R&D</h2>
	<p>1025, avenue Henri Becquerel</p>
	<p>Parc Club du Millénaire - Bât 18</p>
	<p>34 000 Montpellier - France</p>
	
	<br/><br/>
</div>

<p>Netheos designs and develops mobile and secure software to on-line banking, on-line payment and on-line subscription. Our software enables end-users to enjoy a fast, rewarding, and simple experience. They are frequently used by banks, insurances and merchants that want to be able to offer new mobile-based services and protect themselves from on-line fraud.
	
<p>Founded in 2004, Netheos has created a long-term business model with its clients, while encouraging team-driven innovation where every Netheos employee has an opportunity to grow. Our software is based on extensive know-how in security and cryptography, focusing on a business context in which basic authentication is no longer sufficient to handle fast-growing new markets over the long-term. By effectively associating digital signatures, data encryption, and software hardening, Netheos offers a full range of solutions that enable you to deploy trusted applications on smartphones and tablets.</p>

<p>Netheos is leading several cryptography research programs in partnership with leading public-sector laboratories in the field, such as Joseph Fourier Institute, LIP6 and LIRMM. This work is the subject of several Cifre doctoral theses and freely available publications.</p>

<div class="clear"></div>