<div id="splash" style="background: transparent url(../images/splash-about.png) no-repeat top left;">
	<h1>Cryptography making <br/>new things possible today</h1>
</div>

<% picto = image_tag("twitter_bird.png", :alt => "Twitter Netheos", :class => "picto-r", :style => "margin-top: 0px") %>
<%= link_to picto, "https://twitter.com/#!/Netheos", :target => "_blank" %>

<p>Netheos conçoit et développe des logiciels mobiles et sécurisés de banque, de paiement et de contractualisation en ligne. Nos logiciels sont conçus de façon à faire vivre à l’utilisateur une expérience valorisante, simple et rapide. Ils sont plus particulièrement utilisés par les banques, les assurances et les commerçants souhaitant proposer de nouveaux services à leurs clients via leur mobile, tout en se protégeant des fraudes en ligne associées.</p>

<p>Créée en 2004 à Montpellier, Netheos développe une activité durable dans le respect de ses clients et encourage l'innovation au sein d'équipes où chacun à l'opportunité de réaliser son potentiel. Nos logiciels reposent sur un fort savoir faire en cryptographie et s’inscrivent dans un contexte où l’authentification seule ne suffit plus à assurer la pérennité de nouveaux marchés en forte croissance. En y associant la signature électronique, le chiffrement des données et le durcissement des logiciels, Netheos propose une famille complète de solutions permettant de mettre en œuvre des applications de confiance sur smartphone et tablette.</p>

<p>Netheos mène plusieurs programmes de recherche en cryptographie en partenariat avec des laboratoires publics reconnus du domaine tels que l’institut Joseph Fourier, le LIP6 ou le LIRMM. Ces travaux font l’objet de thèses Cifre et de publications accessibles à tous.</p>

<div class="clear"></div>