<div id="splash" style="background: transparent url(../images/splash-payment.png) no-repeat top left">
	<h1>m-payment</h1>
	<p>Le paiement <span style='color:#666666;'>rapide et sécurisé</span></p>
</div>

<%= image_tag("../images/ekeynox_payment_cases.png", :alt => "Cas d'usage ekeynox pour le paiement", :class => "diagram-r", :style => "margin-top: 5px; margin-bottom: 20px;") %>

<p>Développez simplement et rapidement un m-wallet sécurisé en totale adéquation avec vos besoins.</p> 

<p>A la différence des logiciels rigides imposant leur propre expérience utilisateur, le Mobile Security Framework eKeynox autorise l'évolution de votre application, et vous fait profiter de briques facilement intégrables rendant transparente la gestion de la sécurité et de la preuve du paiement (non-répudiation).</p>

<p>eKeynox sécurise vos stratégies de paiement et de prépayé (chèque cadeau, bon d’achat, etc.), ainsi que les alternatives à la carte de paiement, comme le mandat SDD (SEPA Direct Debit) qui nécessite une signature électronique. </p>

<div class="clear"></div>

<h1>Le panier commerçant<span class="h1-baseline">Cas d'usage</span></h1>

<p>La nouvelle génération de validation du paiement est un panier mobile, asynchrone, persistant et multicanal. Il intervient dans un contexte d’achat en 1 click réel, sans saisie de mot de passe, depuis un site commerçant, une application mobile, un réseau social ou encore un format papier via un QRCode (affiche, magazine, etc.).</p>

<p>Sa fonction est de permettre une validation unitaire ou par lot, simple et rapide, de l’expédition des produits achetés via différents canaux. L’authentification de l’utilisateur se fait grâce à un simple code PIN. Un des avantages les plus évidents d’eKeynox dans ce contexte est sa signature électronique de l’ordre d’expédition qui assure la non-répudiation de l’achat.</p>

<p>Plus simple que 3DSecure, le panier mobile eKeynox est une alternative ou un complément permettant d’assurer son risque à l’aide d’un outil simplifiant le processus d’achat tout en luttant efficacement contre la fraude. C’est une protection efficace, notamment contre le vol d’identité et des informations de paiement, ainsi que le « phishing » et les attaques applicatives dont l’objectif est de tromper l’utilisateur en lui faisant valider un ordre frauduleux (comme le « Man in the Browser »).</p>

<br/><br/>

<p>En savoir plus sur <%= link_to "eKeynox Mobile Security Framework", ekeynox_path %>.</p>

<p>Si vous souhaitez créer un m-wallet innovant, sécurisé et simple à utiliser pour vos clients, <%= link_to "contactez-nous", "mailto:sales@netheos.net" %>.</p>
