<div id="splash" style="background: transparent url(../images/splash-payment.png) no-repeat top left">
	<h1>m-payment</h1>
	<p>Fast <span style='color:#666666;'>and secure</span></p>
</div>

<%= image_tag("../images/ekeynox_payment_cases.png", :alt => "eKeynox use case for payment", :class => "diagram-r", :style => "margin-top: 5px; margin-bottom: 20px;") %>

<p>Develop a secure m-wallet that meets all your needs quickly and easily.</p> 

<p>Unlike inflexible software solutions that force you to follow their own user experience, the eKeynox Mobile Security Framework enables you to fully update your application and leverage easy-to-integrate modules that make security and proof-of-payment (non-repudiation) transparent.</p>

<p>eKeynox secures your payment strategies and prepay solutions (vouchers, coupons, etc.), as well as alternatives to payment cards, such as SEPA Direct Debit (SDD) mandates. </p>

<div class="clear"></div>

<h1>Boutique shopping cart<span class="h1-baseline">Use case</span></h1>

<p>The new generation of payment validation is a mobile shopping cart: asynchronous, persistent and multi-channel. The shopping cart is present in a real one-click purchasing context, without having to enter a password, using a merchant site, mobile application, social network or even a paper format via a QRCode (such as on posters and magazines).</p>

<p>Its purpose is to enable the buyer to validate and approve delivery for a single item or a batch quickly, even for purchases made through different channels. User authentication is handled with a simple PIN code. One of the most obvious advantages of eKeynox in this context is its electronic signature on the shipping order, which establishes non-repudiation for the purchase.</p>

<p>Easier than 3DSecure, the eKeynox mobile shopping cart is either an alternative or a complement to existing solutions, covering your risk with a tool that both simplifies the purchase process and fights effectively against fraud. eKeynox offers efficient protection, particularly against identity theft and stolen payment information, as well as phishing and application attacks whose goal is to trick the user by making him/her validate a fraudulent order (such as Man in the Browser).</p>

<br/><br/>

<p>Find out more on <%= link_to "eKeynox Mobile Security Framework", ekeynox_path %>.</p>

<p>If you would like to create an innovative m-wallet that is secure and easy for your clients to use, <%= link_to "contact us", "mailto:sales@netheos.net" %></p>
