<html>
<style>
body {
	font-family : verdana, arial;
	
}

h1 {
	color : #777777;
}

h3 {
	color : orange;
}
</style>
<body>
	
<img src="" alt="logo"/>
<h3>Communiqué de presse</h3>
<h1>Cdiscount met en œuvre avec Netheos une souscription sur mobile 100% dématérialisée de sa carte de paiement MasterCard</h1>
<p><b>Cdiscount a choisi Netheos pour offrir à ses clients une souscription de sa carte de paiement MasterCard entièrement dématérialisée via un smartphone ou une tablette. Cette contractualisation sans papier est entièrement automatisée : l’utilisateur photographie sa carte d’identité qui est vérifiée à la volée et le contrat est finalisé à l’aide d’une signature électronique à valeur probante.</b></p>
<p>PARIS, 10 décembre 2013 – Netheos, éditeur de logiciels mobiles et opérateur de services dans le domaine de la contractualisation numérique, annonce avec Cdiscount le lancement d’une application mobile de souscription basée sur sa plateforme eKeynox.</p>
<p>Cette application disponible sous iOS et Android offre un parcours simplifié permettant aux clients de Cdiscount de souscrire une carte de paiement MasterCard en quelques minutes et sans papier. L’utilisateur s’authentifie avec ses identifiants Cdiscount, photographie sa pièce d’identité et complète un formulaire pré-rempli avec les informations déjà recueillies. Un contrat est alors généré ; il ne reste plus à l’utilisateur qu’à le signer électroniquement. La signature et l’archivage électroniques rendent le contrat admissible comme preuve, au même titre qu’un document papier.</p>
<p>« Nous voulions proposer à nos clients une autre façon - plus rapide et moins complexe - de souscrire la Carte Cdiscount. Netheos a su nous accompagner sur les aspects techniques mais aussi juridiques pour avancer rapidement dans notre projet. Leur technologie eKeynox nous a ensuite permis de créer notre application en quelques semaines. Cette dernière permet maintenant à nos clients de souscrire en ligne notre offre, en moins de cinq minutes, sans qu’ils aient besoin d’une imprimante, d’un scanner, ou encore moins, d’aller à la poste ! », déclare Marc Lanvin, directeur des Réseaux Web & Cdiscount chez Banque Casino.</p>
<p>Pour Olivier Détour, CEO de Netheos, le contrat numérique sur mobile est la réponse aux abandons en cours de parcours, 70% étant attribuables à des lourdeurs inhérentes au papier. « Cela fait 10 ans que nous développons des logiciels de sécurité pour les banques, passant continuellement de l’innovation à l’industrialisation. Fort de cette expérience, notre objectif sur ce projet était de proposer à Cdiscount un parcours qui soit simple et rapide pour l’utilisateur final, mais qui évite également la fraude et les erreurs de traitement », indique-t-il. « Quand nous parlons de contrat numérique, nous parlons avant tout d’un processus de vente qui doit booster le taux de transformation de nos clients. C’est notre objectif et pour cette raison que nous utilisons les smartphones et les tablettes : ergonomiques, ils permettent également de déléguer aux utilisateurs finaux la dématérialisation de leurs pièces justificatives dans de bonnes conditions » ajoute-t-il.</p>
<p>La plateforme SaaS eKeynox de Netheos offre une grande variété de services de confiance indispensables à la contractualisation en ligne et en face à face : vérification des pièces d’identité, signature électronique, calcul du risque de fraude, remonté des dossiers suspects, etc. Associée à cette plateforme, l’application mobile eKeynox optimise l’expérience de l’utilisateur avec un parcours de souscription simple et sécurisé (optimisation du trafic réseau, affichage des contrats PDF, etc.). Enfin, un SDK permet d’intégrer ce parcours directement au cœur des applications métiers.</p>
<p>Pour créer une solution clé en main, Netheos s’est entouré de partenaires experts dans leur domaine, comme OpenTrust, leader européen de logiciels et services de confiance en ligne, et AriadNext, leader de l'authentification de documents et de la validation automatique de dossiers, inventeur du 2D-Doc.</p>
<p><b>Contact</b> : Olivier Détour, président de Netheos,<br />+33 9 72 341 180, <a href="mailto:o.detour@netheos.net">o.detour@netheos.net</a></p>
<p><b>A propos de Netheos</b><br />
Netheos, SAS au capital de 115 480 €, est crée en avril 2004 à Montpellier. Bureau d’étude en cryptographie, elle a travaillé pour plusieurs industriels français, parmi lesquels EDF, TOTAL et ORANGE. En 2007 Netheos évolue vers l’édition de logiciel avec une offre de sécurité pour la banque en ligne et signe en 2009 un contrat avec GEMALTO pour sa commercialisation. Elle a depuis travaillé pour des grands noms du secteur comme SOCIETE GENERALE, CREDIT DU NORD et NEDBANK. En 2012, Netheos lance un important programme de R&D visant à révolutionner le contrat numérique grâce aux smartphones et aux tablettes.</p>
</body>
</html>