<div class="splash" style="background: transparent url(../images/splash-ekeynox.png) no-repeat top left">
	<h1>Protect your sensitives</br>online services</h1>
	<ul>
		<li><%= link_to "eKeynox", ekeynox_path, :style => "color: #ffffff" %></li>
		<li><%= link_to "USB Trust", ekeynox_usb_trust_path %></li>
		<li><%= link_to "Mobile SDK & Apps", ekeynox_mobile_sdk_apps_path %></li>
	</ul>
</div>

<div id="column">
	<h2>eKeynox Family</h2>
	<p>fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf</p><br/>
	<h2>Partners</h2>
	<% picto = image_tag("../images/partners/logo-keynectis.png", :alt => "Keynectis") %>
	<%= link_to picto, "http://www.keynectis.com", :target => "_blank" %>
</div>

<div id="overview">
	<p>eKeynox est une famille de logiciels valorisant les certificats numériques sur différents types de périphériques personnels pour assurer la confiance dans les services en ligne des entreprises ainsi que la confidentialité des données personnelles qui y sont attachées. De l’authentification forte à la signature électronique en passant pas le chiffrement des données, eKeynox associe l’usage côté client de certificats numériques à des mécanismes de protection contre des attaques applicatives comme le « Man in the Browser ».</p>
	<p>Les logiciels clients de la famille eKeynox, leurs politiques de sécurité et leurs certificats numériques sont déployés et administrés via le Management System eKeynox. Cet ensemble de serveur peut-être intégré dans l’entreprise ou souscrit sous forme de service chez un de nos partenaires.</p>
	<p>L’ensemble de ces logiciels a été conçu pour être utilisé simplement et rapidement, de façon à valoriser les services associés aux certificats numériques.</p>
</div>

<div class="clear"></div>

<table>
    <tbody>
		<tr>
			<td>
				<span class="number">1</span>
				<h3>All digital certificates benefits without disadvantages</h3>
				<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
			</td>
			<td>
				<span class="number">2</span>
				<h3>It's the title number 2</h3>
				<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="number">3</span>
				<h3>It's the title number 3</h3>
				<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
			</td>
			<td>
				<span class="number">4</span>
				<h3>It's the title number 4</h3>
				<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="number">5</span>
				<h3>It's the title number 5</h3>
				<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
			</td>
			<td>
				<span class="number">6</span>
				<h3>It's the title number 6</h3>
				<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
			</td>
		</tr>
	</tbody>
</table>

<div class="clear"></div>
