<script type="text/javascript">
jQuery(function($){

    $('a.zoombox').zoombox({
        theme       : 'lightbox',  // Available themes : zoombox, lightbox, prettyphoto, darkprettyphoto, simple
        opacity     : 0.8,
        duration    : 600,
        animation   : true,
    });
});
</script>

<div class="splash" style="background: transparent url(../images/splash-ekeynox.png) no-repeat top left">
	<div class="splash-text">
		<h1>Build and Manage your<br/>Mobile Application Security</h1>
	</div>
	<ul>
		<li><%= link_to "eK Apps", ekeynox_apps_path%></li>
		<li><%= link_to "eK USB Trust", ekeynox_usb_trust_path %></li>
		<li><%= link_to "eK Mobile SDK", ekeynox_mobile_sdk_path %></li>
	</ul>
</div>

<% diagram = image_tag("../images/ekeynox_big_picture.png", :alt => "ekeynox", :class => "diagram") %>
<%= link_to diagram, "../images/ekeynox_big_picture.png", :class => "zoombox" %>

<p>The eKeynox product family that combines innovation and ease-of-use to deploy digital certificates on a variety of computing platforms: PC and Mac, USB flash drive/token, smartphones and tablets.</p>
<p>From strong authentication to digital signatures and data encryption, eKeynox leverages the Public Key Infrastructure (PKI) by creating new uses for new markets.</p>
<p>Client software in the eKeynox family, related security policies and their digital certificates are deployed and managed using the eKeynox Management System. This server-side solution can be integrated easily at your company site, and is also available as a service from our partners.</p>

<div class="clear"></div>

<h4>A new approach to PKI</h4>

<table>
    <tbody>
		<tr>
			<td>
				<span class="number">1</span>
				<h3>Adding value to digital certificates</h3>
				<p>Take advantage of your digital certificates by building new use cases easily to ensure trust and privacy on new markets.</p>
			</td>
			<td>
				<span class="number">4</span>
				<h3>Multi-PKI  strategy</h3>
				<p>Connect internal and external PKIs to eKeynox and distribute certificates transparently to your devices for authentication, signature and encryption.</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="number">2</span>
				<h3>Shortcut to Public Key Infrastructure <span style="font-size: 16px">(PKI)</span></h3>
				<p>Implement digital certificates without complex infrastructure quickly for your company's internal needs or for your clients.</p>
			</td>
			<td>
				<span class="number">5</span>
				<h3>Multi-device / Multi-OS strategy</h3>
				<p>No need to change your IT when you change your devices. Simply use the same solution for each device/OS (Windows and Mac OS, iOS and Android).</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="number">3</span>
				<h3>Controlling your software</h3>
				<p>Manage over the Internet security policies and updates of software that use your digital certificates.</p>
			</td>
			<td>
				<span class="number">6</span>
				<h3>Multi-population strategy</h3>
				<p>Segment your population and choose the most appropriate device in terms of cost and security for each one.</p>
			</td>
		</tr>
	</tbody>
</table>


