<div class="splash" id="splash-ekeynox">
	<h1>Protect your sensitives</br>online services</h1>
	<ul>
		<li><%= link_to "Management System", ekeynox_management_system_path %></li>
		<li><%= link_to "USB Trust", ekeynox_usb_trust_path %></li>
		<li><%= link_to "Mobile Trust - beta", ekeynox_mobile_trust_path %></li>
	</ul>
</div>

<div class="list">
	<span class="number">1</span>
	<h3>All digital certificates benefits without disadvantages</h3>
	<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>

	<span class="number">2</span>
	<h3>It's the title number 2</h3>
	<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>

	<span class="number">3</span>
	<h3>It's the title number 3</h3>
	<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
</div>

<div class="list">
	<span class="number">4</span>
	<h3>It's the title number 4</h3>
	<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>

	<span class="number">5</span>
	<h3>It's the title number 5</h3>
	<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>

	<span class="number">6</span>
	<h3>It's the title number 6</h3>
	<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
</div>	

<div class="clear"></div>
