<script type="text/javascript">
jQuery(function($){

    $('a.zoombox').zoombox({
        theme       : 'lightbox',        //available themes : zoombox, lightbox, prettyphoto, darkprettyphoto, simple
        opacity     : 0.7,              // Black overlay opacity
        duration    : 600,              // Animation duration
        animation   : true,             // Do we have to animate the box ?
        width       : 800,              // Default width
        height      : 400,              // Default height
        gallery     : true,             // Allow gallery thumb view
        autoplay : false                // Autoplay for video
    });
});
</script>

<div class="splash" style="background: transparent url(../images/splash-ekeynox.png) no-repeat top left">
	<h1>Protect your sensitives</br>online services</h1>
	<ul>
		<li><%= link_to "eKeynox", ekeynox_path, :style => "color: #ffffff" %></li>
		<li><%= link_to "USB Trust", ekeynox_usb_trust_path %></li>
		<li><%= link_to "Mobile SDK & Apps", ekeynox_mobile_sdk_apps_path %></li>
	</ul>
</div>

<% diagram = image_tag("../images/ekeynox_big_picture.png", :alt => "ekeynox", :class => "diagram") %>
<%= link_to diagram, "../images/ekeynox_big_picture.png", :class => "zoombox" %>

<p>eKeynox est une famille de logiciels valorisant les certificats numériques sur différents types de périphériques personnels pour assurer la confiance dans les services en ligne des entreprises ainsi que la confidentialité des données personnelles qui y sont attachées. De l’authentification forte à la signature électronique en passant pas le chiffrement des données, eKeynox associe l’usage côté client de certificats numériques à des mécanismes de protection contre des attaques applicatives comme le « Man in the Browser ».</p>
<p>Les logiciels clients de la famille eKeynox, leurs politiques de sécurité et leurs certificats numériques sont déployés et administrés via le Management System eKeynox. Cet ensemble de serveur peut-être intégré dans l’entreprise ou souscrit sous forme de service chez un de nos partenaires.</p>

<h4>Une autre façon de voir la PKI</h4>

<div class="clear"></div>

<table>
    <tbody>
		<tr>
			<td>
				<span class="number">1</span>
				<h3>All digital certificates benefits without disadvantages</h3>
				<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
			</td>
			<td>
				<span class="number">2</span>
				<h3>It's the title number 2</h3>
				<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="number">3</span>
				<h3>It's the title number 3</h3>
				<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
			</td>
			<td>
				<span class="number">4</span>
				<h3>It's the title number 4</h3>
				<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="number">5</span>
				<h3>It's the title number 5</h3>
				<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
			</td>
			<td>
				<span class="number">6</span>
				<h3>It's the title number 6</h3>
				<p>qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd qdcqd fq fe fqfdsf dqf qf qdf fdfdfdfsef fqfdsqfdsf fqfqdfqd fqfdqf fqfdqfqd</p>
			</td>
		</tr>
	</tbody>
</table>

<div class="clear"></div>
