<div class="splash" style="background: transparent url(../images/splash-mobile_sdk.png) no-repeat top left">
	<h1 class="h1-reverse">Build and Manage your<br/>Mobile Application Security</h1>
</div>

<p>Mobile SDK offers a set of software components that make it easier for non-specialists to develop mobile applications using digital certificates. Ready-to-use eKeynox mobile applications such as Trusted Browser and Trusted Viewer are developed using the software components of eKeynox Mobile SDK.</p>

<p>All digital certificates and security policies associated with software components are deployed and administered using the eKeynox Management System.</p>


<h2>Key Wallet <span style="font-size: 18px;">(Android and iOS devices)</span> <span style="color: #ff8f00; font-size: 18px;">(June 2012)</span></h2>

<p>Key Wallet is a container that ensures privacy for cryptographic keys and data (such as passwords, counters, etc.), even during use. Key Wallet provides an API that enables you to use digital certificates and their private keys for authentication, signing, and encryption operations. Locking PIN codes are entered using a dynamic PIN Pad that eliminates key logging-type attacks.</p>
<p>Offering much higher security than traditional solutions, this hardened software links with a smartphone or tablet upon its first use, which makes it impossible to move or duplicate. Key Wallet can provide even more robustness if the device integrates native secure element hardware or the means to access it (such as microSD or NFC).</p>
<p>The eKeynox Management System is used to deploy the digital certificates and security policies associated with Key Wallet.</p>



