<br/>

<%= image_tag("step3.png", :alt => "Manage over the Internet", :class => "picto") %>


<br/>
<p>Use eKeynox Web Manager to handle the life cycle of your digital certificates, associated software and their security policies.</p>
<ul>
	<li>Deliver, revoke, and renew your digital certificates over the Internet.</li>
	<li>Deploy and update your software over the Internet (differential updates).</li>
	<li>Deploy and update your security policies over the Internet (PIN policy, update policy, etc.).</li>
	<li>Use eKeynox Web Manager dashboards to control and monitor activity on deployed devices.</li>
</ul>

