<br/>

<p>USB Trust est une famille de logiciels spécialement conçus pour être embarqués sur des périphériques de stockage USB en conservant leur performance et en proposant à l’utilisateur une expérience adapté au support USB.</p>
<p>Que ce soit depuis un « USB Virtual Token » ou depuis un « USB flash token », la suite logicielle USB Trust est la solution simple et robuste pour protéger l’accès à vos portails web, signer numériquement des transactions et des documents électroniques.</p>
<p>En associant sur un unique objet les moyens de l’authentification forte aux logiciels les utilisant, l’utilisateur n’a plus qu’à connecter son périphérique USB à n’importe quel ordinateur, PC ou Mac (Windows ou MacOSX), pour accéder à ses services et les utiliser.</p>
<p>Les certificats numériques, les logiciels qui y sont associés ainsi que leurs politiques de sécurité, sont déployés et administrés via le Management System eKeynox.</p>

