<br/>

<%= image_tag("step2.png", :alt => "Build your USB Application", :class => "picto") %>


<br/>
<p>Create an application suite that meets your needs using:</p>
<ul>
	<li>Off-the-shelf software or applications developed specifically for your use.</li>
	<li>eKeynox USB Trust partner software.</li>
	<li>eKeynox USB Trust software modules.</li>
</ul>

