<br/>

<%= image_tag("step1.png", :alt => "Choose your USB Devices", :class => "picto") %>


<br/>
<p>Choose a USB device for your population groups that is well adapted in terms of cost and security. This USB device has zero adherence with the local computer -- no installation or particular privileges required.</p>


<h3>USB Virtual Token</h3>

<p>Significantly increases the level of security and portability for certificates and software compared to traditional computer-based installations. Attached to the USB device, its KeyWallet software forbids copying and using cryptographic keys in a different context.</p>

<p><strong>Zero logistics:</strong> your users can be responsible for purchasing and personalizing their own USB devices (eKeynox Smart Token Init technology). </p>

<p><strong>PIN code authentication:</strong> benefit from a short PIN code supporting lockout after n incorrect tries without having to use smartcards. (eKeynox KeyWallet and Smart PIN Access technologies).</p>
 
<p><strong>PKCS#11 compatible:</strong> use your digital certificates with any software that is compatible with the PKCS#11 standard (eKeynox KeyWallet technology).</p>


<h3>USB Flash Token</h3>

<p>Take advantage of a smartcard to store digital certificates and use read-only memory storage for hardening embedded software. Can also offer an encrypted partition to keep data private in case the USB device is lost or stolen.</p>

<p><strong>Software integrity:</strong> ensure that your software cannot be altered by mistake or intentionally during use (read-only flash partition).</p>

<p><strong>Cryptographic protection:</strong> isolate sensitive cryptographic processing within a dedicated security hardware (smartcard).</p>

<p><strong>Autorun:</strong> simplify the user experience by running software when the USB device is inserted (read-only flash partition).</p>

<p><strong>Partners:</strong> Gemalto, Neowave, Safenet and Safran Morpho.</p>

