<div class="splash" style="background: transparent url(../images/splash-solutions.png) no-repeat top left">
	<h1>Device Manufacturers<br/>Solutions</h1>
</div>

<%= image_tag("device_manufacturer2.png", :alt => "Device Manufacturers", :class => "picto") %>

<p>You manufacture devices that use digital certificates (USB tokens, card readers, smartphones, etc.) and want to pursue opportunities in new markets with ergonomic and powerful software tools?</p>

<ul>
	<li>Netheos can help you increase the value-added of your hardware offering with dedicated software and services to:
Handle provisioning and lifecycles for software content using an intelligent and flexible Management System.</li>
	<li>Highlight functionality graphically and by associating new security policies.</li>
	<li>Create new use cases and market opportunities.</li>
</ul>

<p>By choosing Netheos, specialist in software design and device management, you benefit from software that is easy to use and updated regularly, enabling you to keep your products in line with client expectations.</p>

<div class="clear"></div>