<br/>

<%= image_tag("trusted_viewer2.png", :alt => "Document Privacy", :class => "picto") %>

<p>The ease with which people can copy and transmit electronic documents can pose problems for the companies that own or merely transmit them. In particular, confidentiality and liability issues may arise when documents contain private information concerning the company, or personal information about its employees or clients.</p>
<p>Whether to protect your company's intellectual property or the privacy of your employees and clients, Netheos enables you to keep control over your sensitive documents by ensuring their confidentiality and non-proliferation.</p>
<p>The Netheos document viewer handles document encryption using non-copyable cryptographic methods that require strong authentication by their legitimate owners before viewing. Its cryptographic keys may be stored on a software eKeynox KeyWallet or a secure smartcard-type.</p>


<div class="clear"></div>