<div class="splash" style="background: transparent url(../images/splash-solutions.png) no-repeat top left">
	<h1>Instant Contract Signing</h1>
</div>

<%= image_tag("signature2.png", :alt => "Online Contract Agreement", :class => "picto") %>

<p>In an effort to lower costs, a company may initiate an electronic approach to reduce the use of paper within the company and to simplify and accelerate processes. Following that, the company also needs to handle the new business relationships created with Internet clients and understand how far to go in that direction.</p>
<p>Whether in the physical world or on the digital Web, Netheos enables you to sign contracts electronically quickly and easily in a 100% paperless process that integrates a legally binding signature. The trail of evidence can be completed by an handwritten signature using smartphones and tactile tablets. Lastly, as the signed contract has probative value, it may be archived and subsequently considered as evidence under the law.</p>
<p>The Netheos document viewer enables users to sign documents digitally using cryptographic methods that are non-copyable and require strong authentication by their legitimate owner to be used. Its cryptographic keys may be stored on a software eKeynox KeyWallet or a secure smartcard-type.</p>

<div class="clear"></div>