<div class="splash" style="background: transparent url(../images/splash-solutions.png) no-repeat top left">
	<h1>Web Access Protection</h1>
</div>

<%= image_tag("trusted_browser2.png", :alt => "Web Access Protection", :class => "picto") %>

<p>The generalization of sensitive online services and related transactions, accompanied by increasingly well-organized criminal behavior, has made it necessary to take Internet threats into account globally. This is particularly true in the context of today's "application" attacks that bypass the user's strong authentication mechanism, as is the case with Man in the Browser malware.</p>
<p>Whether for your clients (e|m-commerce and e|m-banking Web sites) or for your employees and partners (intranet and extranet), Netheos assists you in your protection efforts and offers the best suited software solutions to effectively protect access to your sensitive Web applications.</p>
<p>Our secured web browser (against phishing attacks and Man in the Browser malware), combined with a strong authentication and a mutually-identified SSL connection (against Man in the Middle), ensures that your online service remain accessible as simply as possible. Its cryptographic keys may be stored on a software eKeynox KeyWallet or a secure smartcard-type.</p>

<div class="clear"></div>