<header>
<!--	<div id="search_box">
		<form action="http://www.netheos.net/search" id="cse-search-box">
			<input type="hidden" name="cx" value="016592608350948238660:0w_38ll37p0" />
			<input type="hidden" name="cof" value="FORID:10;NB:1" />
			<input type="hidden" name="ie" value="UTF-8" />
			<input type="text" name="q" id="search_field" value="Search" />
		</form>
	</div>
-->	
	<nav>
		<% logo = image_tag("logo.png", :alt => "Netheos") %>
		<%= link_to logo, root_path %>
		<ul>
			<li><%= link_to "On-line<br/>banking".html_safe, banking_path, :class => highlight(banking_path) %></li>
			<li><%= link_to "On-line<br/>payment".html_safe, payment_path, :class => highlight(payment_path) %></li>
			<li><%= link_to "On-line<br/>subscription".html_safe, subscription_path, :class => highlight(subscription_path) %></li>
		</ul>
	</nav>
</header>